plik.dtd

<!ELEMENT BOOK (BOOKTITLE , AUTHOR , INTRO , CHAPTER , CHAPTER , CHAPTER)>
<!ELEMENT BOOKTITLE (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT INTRO (#PCDATA)>
<!ELEMENT CHAPTER (CHAPTERTITLE , PAGE , SECTION , SECTION , SECTION)>
<!ELEMENT CHAPTERTITLE (#PCDATA)>
<!ELEMENT PAGE (#PCDATA)>
<!ELEMENT SECTION (SECTIONTITLE , PARAGRAPH)>
<!ELEMENT SECTIONTITLE (#PCDATA)>
<!ELEMENT PARAGRAPH (#PCDATA)>